h1 {
  font-family: 'Roboto Mono', monospace;
  background-color: #d0dceb;
  font-size: 50px;
  text-align: center;
  padding: 50px 30px 30px 30px;
  border-color:black;
  
}
body {
  font-family: 'Roboto Mono', monospace;
}
  .title {
  background-color:rgb(229, 149, 70);
  font-size: 25px;
  text-align: center;
  margin: 70px 300px 70px 300px;
  padding: 10px 20px 10px 20px;
  border-radius:25px;
  }

#myDiv {
  font-size: 20px;
  background-color: #d0dceb;
  margin: 50px 30px 50px 30px;
  padding: 20px 20px 20px 20px;
  border-radius:25px;
  text-align: center;
}

#homepage {
  background-color:d0dceb;
  font-size: 25px;
  text-align: center;
  margin: 70px 300px 70px 300px;
  padding: 10px 20px 10px 20px;
  border-radius:25px;
}

#footer {
  background-color: #d0dceb;
  margin: 50px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}