
h1 {
  background-color: #d0dceb;
  font-size: 50px;
  text-align: center;
  padding: 50px 30px 30px 30px
  
}

body {
  font-family: 'Roboto Mono', monospace;
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.questions {
  background-color: #d0dceb;
  font-size:25px;
  padding:20px 10px 20px 10px;
  border-radius:25px;
  text-align: center;
}
.answers {
  font-size: 20px;
  background-color: #d0dceb;
  margin: 50px 30px 50px 30px;
  padding: 20px 20px 20px 20px;
  border-radius:25px;
  text-align: center;
}

.text-colour {
  color:yellow;
}

#introduction-heading {
  font-size: 25px;
}

#get-to-know-me {
  background-color:rgb(229, 149, 70);
  font-size: 25px;
  text-align: center;
  margin: 70px 300px 70px 300px;
  padding: 10px 20px 10px 20px;
  border-radius:25px;
}

#blog-post {
  background-color:rgb(229, 149, 70);
  font-size: 25px;
  text-align: center;
  margin: 70px 10px 70px 10px;
  padding:20px 10px 20px 10px;
  border-radius:25px;
}

img {
  max-width: 400px;
  height: auto;
  padding-top: 30px;
  
}

#footer {
  background-color: #d0dceb;
  margin: 50px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}


.introduction {
  font-size: 20px;
  background-color: #d0dceb;
  margin: 50px 30px 50px 30px;
  padding: 20px 20px 20px 20px;
  border-radius:25px;
  text-align: center;
}


a {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  display:inline;
}

@media (max-width: 900px){
  .introduction {
    font-size: 15px;
    height:auto;
    width:auto; 
    text-align: center;
    margin: 20px 20px 20px 20px;
  }
  body {
    font-size: 5vw;
    height:auto;
    width:100%; 
    text-align: center;
  }
  h1 {
    font-size: 10vw;
    height:auto;
    width:100%; 
    text-align: center;
  }

  .links {
    font-size: 20px;
  }
}